.homepage-container {
    margin-top: 20px;
  }
  
  .header-box-container {
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid black; /* Border to create the box */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Allow it to be 100% width of its container */
    width: 80%; /* Default width for larger screens */
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-box {
    text-align: center;
  }
  
  .homepage-title {
    font-size: 2.5rem;
  }
  
  .homepage-description {
    font-size: 1.2rem;
  }
  
  .home-box-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box-wrapper {
    margin-top: 20px;
  }
  