.navbar {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s, box-shadow 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d4af37; /* Gold color for hover effect */
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link.active {
  color: #d4af37; /* Gold color for active link */
}
